ul,li{
    list-style: none;
    margin:0;
    padding:0;
}
html,body{
    background: #f5f5f5;
    word-break: break-all;
    word-wrap: break-word;
    max-width: 640px;
    margin:0 auto;
}
.padding14{
    padding:14px;
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex .flex_item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.break {
    word-break: break-all;
    word-wrap: break-word;
}
.table{
    display:table;
}
.table_cell{
    display:table-cell;
}
img{
    width:auto;
    max-width:100%;
}
#index_footer{
    width:100%;
    position: fixed;
    left: 0;
    bottom:0;
    padding: 5px 0;
    background: #fff;
    border-bottom: solid 1px #bababa;
}
#index_footer li{
    width: 25%;
    float: left;
    text-align: center;
}
#index_footer li em{
    background: url(../imgs/index/icon1.jpg);
    width:22px;height:18px;background-position:-1px -0px;
    background-size: 226px;
    display:inline-block;
}
#index_footer li em.em1{
    background-position:-68px -0px;
}
#index_footer li em.em2{
    background-position:-132px -0px;
}
#index_footer li em.em3{
    background-position:-199px -0px;
}
#index_footer li a b {
    font-weight: normal;
    display: block;
    font-size: 8px;
    color: #929292;
    display: block;
    text-decoration: none;
}
