<p style="display: none">
    <hi:cnzzshow runat="server" />
</p>
<footer>
    <%<asp:HyperLink ID="hyperindex" runat="server" NavigateUrl="MyProducts.aspx" name="homestyle" style="color: #999;">
        <div class="glyphicon "></div>
        <p>我的商品</p>
    </asp:HyperLink> %>
    <a href="DistributorOrders.aspx" id="anchors4" class="footer-div-type" style="color: #999;">
        <div class="glyphicon"></div>
        <p>我的订单</p>
    </a>
    <a href="DistributorCommission.aspx" id="anchors0" class="footer-div-cart" style="color: #999;">
        <div class="glyphicon "></div>
        <p>我的佣金</p>
    </a>
    <a href="ChirldrenDistributors.aspx" id="anchors1" class="footer-div-my" style="color: #999;">
        <div class="glyphicon"></div>
        <p>我的团队</p>
    </a>
    <asp:Panel ID="paneldistributor" runat="server" class="last-footer clearfix footer-div-shop">
        <a href="<% <asp:Literal runat="server" id="litDistrbutorUrl" />%>" id="anchors2" style="color: #999;">
        <div class="glyphicon"></div>
        <p><% <asp:Literal runat="server" ID="litDistrbutorTitle" Text="店铺首页" />%></p>
        </a>
    </asp:Panel>
    <span style=" display:none" id="spanstyle"><% <asp:Literal runat="server" ID="lblStyle" />%></span>

</footer>
<script type="text/javascript">
    function showOrderState() {
        var status;
        if (navigator.appName.indexOf("Explorer") > -1) {

            status = document.getElementById("spanstyle").innerText;

        } else {

            status = document.getElementById("spanstyle").textContent;

        }

        if ($.trim(status) == "3") {
            if (document.getElementById("vDefault_ctl02_hyperindex") != null) {
                document.getElementById("vDefault_ctl02_hyperindex").className = 'footer-div-home-over';
            }
        }
        if ($.trim(status) == "4") {
            document.getElementById("anchors" + $.trim(status)).className = 'footer-div-type-over';
        }
        if ($.trim(status) == "1") {
            document.getElementById("anchors" + $.trim(status)).className = 'footer-div-my-over';
        }
        if ($.trim(status) == "0") {
            document.getElementById("anchors" + $.trim(status)).className = 'footer-div-cart-over';
        }
        if ($.trim(status) == "2") {
            document.getElementById("anchors" + $.trim(status)).className = 'footer-div-shop-over';
        }
    }

    $(document).ready(function () { showOrderState(); });

    //隐藏底部菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideToolbar');
    });
</script>
<script type="text/javascript">
    if ($('footer').children().length == 5) {
        $('footer').children().css("width", "25%");
    }
</script>
</body>
</html> 