<hi:common_header runat="server" />
<div class="home-head memberCenter">
    <div class="user-photo">
        <a href="/Vshop/UserInfo.aspx?edit=true">
            <asp:image runat="server" imageurl="/images/user-img.png" id="image"></asp:image>
        </a>
        <!-- <span>V</span> -->
    </div>
    <div class="user-name" onclick="location.href = '/Vshop/UserInfo.aspx?edit=true'">
        <asp:literal runat="server" id="litUserName" />
    </div>
    <ul class="user-tags">
        <li><a class="order" href="/Vshop/MemberOrders.aspx?status=0">全部订单</a></li>
        <li><a class="pay" href="/Vshop/MemberOrders.aspx?status=1">待付款</a></li>
        <li><a class="delivery" href="/Vshop/MemberOrders.aspx?status=3">配送中</a></li>
        <li><a class="return" href="/Vshop/MemberOrderReturn.aspx">退换货</a></li>
    </ul>
    <!-- 
    <div class="info">
         <div class="title"style="width: 220px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; margin-bottom:2px;">欢迎，【<asp:literal runat="server" id="litMemberGrade" />】</div>
        <div class="presentExp font-m">
            <span class="badge badge-danger">消费：¥<asp:literal runat="server" id="litExpenditure" /></span>
            <a href="logout.aspx"><span class="badge badge-warning">退出登录</span></a>
            <!--</div>
    </div> -->
</div>
<div class="memberBottom">
    <div class="bottom-content"><a class="userInfo border0" href="/Vshop/UserInfo.aspx?edit=true">个人资料</a></div>
</div>
<div class="memberBottom">
    <div class="bottom-content"><a class="collect" href="/Vshop/MyFavorites.aspx">我的收藏</a></div>
    <div class="bottom-content"><a class="refer" href="/Vshop/MyConsultations.aspx">我的咨询</a></div>
    <div class="bottom-content"><a class="service border0" href="/Vshop/SaleService.aspx">售后服务</a></div>
</div>
<div class="memberBottom">
    <div class="bottom-content"><a class="red">我的<asp:literal runat="server" id="litVPName" />：<asp:literal runat="server" id="litVirtualPoint" /></a></div>
    <div class="bottom-content"><a class="red border0" href="/Vshop/myredpager.aspx">我的代金券</a></div>
</div>
<div class="memberBottom">
    <div class="bottom-content"><a class="address border0" href="/Vshop/EditShippingAddress.aspx">收货地址</a></div>
</div>
<div class="memberBottom" style="display:none;">
    <div class="bottom-content" style="text-indent: 0;"><a class="exit border0" href="logout.aspx">退出</a></div>
</div>

<script>
    //禁用右上角菜单
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
<script type="text/javascript">
    //	$(function(){
    //		var borCircle = $('.border-circle');
    //      for(var i=0;i<$('.border-circle').length;i++){
    //      	if($('.border-circle').eq(i).text() == ''){
    //      		$('.border-circle').eq(i).css('display','none');
    //		    }else{
    //		    	$(this).css('display','block');
    //		    }
    //      }
    //		
    //	})

    $(function () {
        $(".memberCenter .user-photo").css({ "left": ($(".memberCenter").width() - $(".memberCenter .user-photo").width()) / 2 + "px" });
    });
</script>
<hi:common_footer runat="server" />
