<hi:common_header runat="server" />
<!--  <link rel="stylesheet" type="text/css" href="/style/newcss/js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/newcss/js/bootstrap/bootstrapValidator.min.css">-->
<link rel="stylesheet" type="text/css" href="/style/newcss/css/common.css">
<link rel="stylesheet" type="text/css" href="/style/newcss/css/invite.css">
<!--  <script type="text/javascript" src="/style/newcss/js/bootstrap/jquery.min.js"></script>
  <script type="text/javascript" src="/style/newcss/js/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="/style/newcss/js/bootstrap/bootstrapValidator.min.js"></script>
  <script type="text/javascript" src="/style/newcss/js/bootstrap/zh_CN.min.js"></script>
  <script type="text/javascript" src="/style/newcss/js/countdown.js"></script>-->
<div class="invite_success">
    <h1>你的邀请码生成成功</h1>
    <input type="button" value="立即分享给小伙伴" class="btn" id="share">

    <br />
    <img id="ifameQRcode" style="max-width:100%;" src='/API/GetQRCode.ashx?code=><asp:literal runat="server" id="liturl" />'></img>
    <br /><br />
    <asp:Literal ID="litShareurl" runat="server"></asp:Literal>
    <br /><br />
    <a href="invite.aspx">返回我的邀请列表</a>
</div>
<div class="share"><img src="/style/newcss/imgs/share.png" alt=""></div>
 <%<hi:weixinset id="weixin" runat="server"></hi:weixinset>%>
<script>
    $("#share").click(function () {
        $(".share").height($(window).height()).show();
    });
    function shareSuccess(res) {
        //分享成功调整状态至待激活
        $.ajax({
            url: "/API/VshopProcess.ashx",
            type: 'post',
            dataType: 'json',
            timeout: 10000,
            data: {
                action: "ShareInviteSuccess",
                InviteCode: inviteCode
            },
            success: function (resultData) {
                if (resultData.success) {
                    location.href = "/vshop/invite_success.aspx?invitecode=" + resultData.msg;
                }
                else {
                    alert_h("添加失败!" + resultData.msg);
                }
                ispost = false;
            },
            error: function () {
                ispost = false;
            }
        });

    }

    WinXinShareMessage(shareTitle, shareDesc, shareLink, shareImgUrl, function (res) {
        shareSuccess(res);
    });

</script>
<hi:common_footerno runat="server" />