<head>
    <hi:pagetitle runat="server" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/utility/bootflat/css/bootstrap.min.css" type="text/css">
    <script src="/script/jquery-1.11.0.min.js"></script>
    <script src="/utility/bootflat/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/script/WeiXinShare.js?v=2.2"></script>
    <link rel="stylesheet" type="text/css" href="/style/newcss/css/common.css">
    <link rel="stylesheet" type="text/css" href="/style/newcss/css/shouiyi.css">
</head>
<body>
    <div class="houtai">
    <header class="header1">
        <div class="imgwrap">
          <img src="/style/newcss/imgs/bg.png" class="bg">
          <div class="wrap">
            <div class="flex info">
                <div class="touxiang">
                            <!--<img src="images/tou.jpg">-->
                            <asp:literal runat="server" id="litBackground" />
                        </div>
                        <div>
                            <div class="d0">
                                <asp:literal runat="server" id="litRealName" />
                            </div>
                            <div class="d1">
                                <asp:literal runat="server" id="litStoreName" />
                            </div>
                        </div>
            </div>
            <div class="hr hr2"><span class="s0"></span></div>
          </div>
          <div class="table">
                <a href="/Vshop/MemberOrders.aspx?status=0" class="table_cell">
                    <em></em>
                    <p>全部订单</p>
                </a>
                <a href="/Vshop/MemberOrders.aspx?status=1" class="table_cell">
                    <em></em>
                    <p>待付款</p>
                </a>
                <a href="/Vshop/MemberOrders.aspx?status=2" class="table_cell">
                    <em><i>9</i></em>
                    <p>配送中</p>
                </a>
                <a href="/Vshop/MemberOrderReturn.aspx" class="table_cell">
                    <em></em>
                    <p>退换货</p>
                </a>
            </div>
        </div>
    </header>
    <ul>
      <li>
        <div class="list_wrap">
          <a href="/Vshop/UserInfo.aspx?edit=true">个人资料</a>
        </div>
      </li>
      <li>
        <div class="list_wrap">
          <a href="/Vshop/MyFavorites.aspx" class="icon1">我的收藏</a>
          <a href="/Vshop/MyConsultations.aspx" class="icon2"><span>我的咨询<i>9</i></span></a>
          <a href="/Vshop/SaleService.aspx" class="icon3"><span>售后服务<i>9</i></span></a>
        </div>
      </li>
      <li>
        <div class="list_wrap">
          <a href="" class="icon4">我的金贝</a>
        </div>
      </li>
      <li>
        <div class="list_wrap">
          <a href="/Vshop/EditShippingAddress.aspx" class="icon5">收货地址</a>
        </div>
      </li>
    </ul>
    </div>

</body>
