<head>
    <title>发现 - 全婴汇</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/utility/bootflat/css/bootstrap.min.css" type="text/css">
    <script src="/script/jquery-1.11.0.min.js"></script>
    <script src="/utility/bootflat/js/bootstrap.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/script/WeiXinShare.js?v=2.2"></script>
    <link rel="stylesheet" type="text/css" href="/style/newcss/css/common.css">
    <link rel="stylesheet" type="text/css" href="/style/newcss/css/shouiyi.css">
</head>
<body>
    <div class="find">
        <header class="header1">
            <div class="imgwrap">
                <img src="/style/newcss/imgs/bg.png" class="bg">
                <div class="wrap">
                    <div class="flex info f1">
                        <div class="touxiang">
                            <!--<img src="images/tou.jpg">-->
                            <asp:literal runat="server" id="litBackground" />
                        </div>
                        <div>
                            <div class="d0">
                                <asp:literal runat="server" id="litRealName" />
                            </div>
                            <div class="d1">
                                <asp:literal runat="server" id="litStoreName" />
                            </div>
                        </div>
                    </div>
                    <div class="bo bo1">
                        <div class="d4">发现</div>
                    </div>
                    <div class="hr hr2"><span class="s0"></span></div>
                </div>
            </div>

        </header>
        <div class="iconwrap">
            <div class="table">
                <a class="table_cell" href="/vshop/MyProducts.aspx">
                    <img src="/style/newcss/imgs/icon7.png">
                    <p>商品佣金</p>
                </a>
                <a class="table_cell" href="/vshop/wenan.aspx">
                    <img src="/style/newcss/imgs/icon8.png">
                    <p>中央文案</p>
                </a>
                <a class="table_cell" href="MyRanking.aspx">
                    <img src="/style/newcss/imgs/icon9.png">
                    <p>团队排名</p>
                </a>
            </div>
            <div class="table">
                <a class="table_cell" href="BusinessArticleList.aspx">
                    <img src="/style/newcss/imgs/icon10.png">
                    <p>商学院</p>
                </a>
                <a class="table_cell" href="http://www.ximalaya.com/zhubo/35906384/">
                    <img src="/style/newcss/imgs/icon11.png">
                    <p>电台</p>
                </a>
                <a class="table_cell" href="">
                    <img src="/style/newcss/imgs/icon12.png">
                    <p>销售统计</p>
                </a>
            </div>
        </div>
        <footer class="footer1">
            <div class="imgwrap">
                <img src="/style/newcss/imgs/logo.png"></div>
            <div class="hr"><span class="s0"></span></div>
            <div class="hr1"></div>
        </footer>
    </div>

</body>
