<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteUrl>scodes.taobao.com</SiteUrl>
  <Theme>default</Theme>
  <VTheme>default</VTheme>
  <DecimalLength>2</DecimalLength>
  <DefaultProductImage>/utility/pics/none.gif</DefaultProductImage>
  <DefaultProductThumbnail1>/utility/pics/none.gif</DefaultProductThumbnail1>
  <DefaultProductThumbnail2>/utility/pics/none.gif</DefaultProductThumbnail2>
  <DefaultProductThumbnail3>/utility/pics/none.gif</DefaultProductThumbnail3>
  <DefaultProductThumbnail4>/utility/pics/none.gif</DefaultProductThumbnail4>
  <DefaultProductThumbnail5>/utility/pics/none.gif</DefaultProductThumbnail5>
  <DefaultProductThumbnail6>/utility/pics/none.gif</DefaultProductThumbnail6>
  <DefaultProductThumbnail7>/utility/pics/none.gif</DefaultProductThumbnail7>
  <DefaultProductThumbnail8>/utility/pics/none.gif</DefaultProductThumbnail8>
  <CheckCode>07E08935375D6197F5B7DA3205268E4EBE34AE00</CheckCode>
  <Disabled>false</Disabled>
  <Footer>
  </Footer>
  <RegisterAgreement>
  </RegisterAgreement>
  <LogoUrl>/utility/pics/logo.jpg</LogoUrl>
  <OrderShowDays>7</OrderShowDays>
  <CloseOrderDays>3</CloseOrderDays>
  <FinishOrderDays>7</FinishOrderDays>
  <TaxRate>0</TaxRate>
  <PointsRate>1.00</PointsRate>
  <SiteName>全婴汇</SiteName>
  <YourPriceName>
  </YourPriceName>
  <EmailSender>hishop.plugins.email.aspnetmail</EmailSender>
  <EmailSettings>ZVOL2ofIDwDO7B76wnh0mRZrRhldk01NVJercLkIhxBa9560S+3BinQtgQvELib0X03E2Q5GO+0Iml4qR3dJcmAdgte9NQU8GtMsRdXHtW6E7oBy+RCzgAKYdsM86VILWFTL3oiGNsxN+XOZpKCfVU3F+ZRQ1tO7kXMhfNV9NkNQ3PkpUK4wJAVsE2hNhcnYFBuSYA70QTiRxRkCc36HORlFN58T30LmZzTnr/HCdroBohU+NGrDWdVSZw4x0uQ1ehRLWL70JvaP3vf37DAvwjdmokgvzbMhp3VZ60w9lbz4KwII0wB8uD5LA5hdptpl8t6QFogki9BzXO/5vvMBxw==</EmailSettings>
  <SMSSender>hishop.plugins.sms.huiyisms</SMSSender>
  <SMSSettings>9a6f/yn9a4AW7G4FRBAjs4l0/we0irrMICO+X8Zd+RlML48CtRjJ9t1PO/me4oW7U1BsKFgrvgYcnKK1pvpKIIC99s7PPyITKcMHiIwrPCw=</SMSSettings>
  <EnabledCnzz>false</EnabledCnzz>
  <CnzzUsername>
  </CnzzUsername>
  <CnzzPassword>
  </CnzzPassword>
  <WeixinAppId>wx59ea9e7417007f98</WeixinAppId>
  <WeixinAppSecret>363cdc6d6d8abf4c9b3986884c1b5af0</WeixinAppSecret>
  <WeixinPaySignKey>
  </WeixinPaySignKey>
  <WeixinPartnerID>1267305001</WeixinPartnerID>
  <WeixinPartnerKey>tn9fA9Ve4PllWjMk8qOsHxb5mZ4wNTqn</WeixinPartnerKey>
  <IsValidationService>true</IsValidationService>
  <WeixinToken>F0D24FD2DFC78907</WeixinToken>
  <WeixinNumber>
  </WeixinNumber>
  <WeixinLoginUrl>
  </WeixinLoginUrl>
  <WeiXinCodeImageUrl>/Storage/master/WeiXinCodeImageUrl.jpg</WeiXinCodeImageUrl>
  <VipCardBG>/Storage/master/Vipcard/vipbg.png</VipCardBG>
  <VipCardLogo>
  </VipCardLogo>
  <VipCardQR>/Storage/master/Vipcard/vipqr.jpg</VipCardQR>
  <VipCardPrefix>100000</VipCardPrefix>
  <VipCardName>
  </VipCardName>
  <VipRequireName>true</VipRequireName>
  <VipRequireMobile>true</VipRequireMobile>
  <VipRequireQQ>false</VipRequireQQ>
  <VipRequireAdress>false</VipRequireAdress>
  <VipEnableCoupon>false</VipEnableCoupon>
  <VipRemark>
  </VipRemark>
  <EnablePodRequest>false</EnablePodRequest>
  <EnableCommission>true</EnableCommission>
  <EnableAlipayRequest>false</EnableAlipayRequest>
  <EnableWeiXinRequest>true</EnableWeiXinRequest>
  <EnableOffLineRequest>false</EnableOffLineRequest>
  <EnableWapShengPay>false</EnableWapShengPay>
  <OffLinePayContent>
  </OffLinePayContent>
  <DistributorDescription>&lt;p&gt;
	&lt;br /&gt;
&lt;/p&gt;</DistributorDescription>
  <DistributorBackgroundPic>/Storage/data/DistributorBackgroundPic/default.jpg|</DistributorBackgroundPic>
  <DistributorLogoPic>
  </DistributorLogoPic>
  <SaleService>&lt;div class="sale-service clearfix"&gt;&lt;a href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&amp;amp;uin=123456789" class="col-sm-4" target="_blank"&gt;  &lt;img src="/Storage/master/gallery/201501/20150112160440_7779.png" title="QQ_service" alt="QQ_service" border="0" /&gt;&lt;/a&gt;   &lt;a href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&amp;amp;uin=450235251" target="_blank" class="col-sm-4"&gt;&lt;img src="/Storage/master/gallery/201501/20150112160517_9570.png" title="QQ_service" alt="QQ_service" border="0" /&gt;&lt;/a&gt;    &lt;a href="" http:="" wpa.qq.com="" msgrd?v="3&amp;amp;uin=&amp;amp;site=qq&amp;amp;menu=yes" "="" class="col-sm-4"&gt;&lt;img src="/Storage/master/gallery/201501/20150112160440_7779.png" /&gt;&lt;/a&gt; &lt;/div&gt; &lt;a type="button" class="btn btn-danger btn-block" href="tel:18211111111"&gt;服务电话:18211111111&lt;/a&gt;</SaleService>
  <MentionNowMoney>1</MentionNowMoney>
  <ShopIntroduction>dd</ShopIntroduction>
  <ApplicationDescription>
  </ApplicationDescription>
  <GuidePageSet>
  </GuidePageSet>
  <ManageOpenID>oel6ZwU1jvmWujgO-F_dsKqD-YfI</ManageOpenID>
  <WeixinCertPath>D:\02.SoftData\99.DevProject\15.WFX\trunk\01.Src\wfx3.0\web\Pay\Cert\20150929073941apiclient_cert.p12</WeixinCertPath>
  <WeixinCertPassword>1267305001</WeixinCertPassword>
  <GoodsPic>
  </GoodsPic>
  <GoodsName>
  </GoodsName>
  <GoodsDescription>
  </GoodsDescription>
  <ShopHomePic>
  </ShopHomePic>
  <ShopHomeName>
  </ShopHomeName>
  <ShopHomeDescription>
  </ShopHomeDescription>
  <ShopSpreadingCodePic>
  </ShopSpreadingCodePic>
  <ShopSpreadingCodeName>
  </ShopSpreadingCodeName>
  <ShopSpreadingCodeDescription>
  </ShopSpreadingCodeDescription>
  <OpenManyService>true</OpenManyService>
  <IsRequestDistributor>true</IsRequestDistributor>
  <FinishedOrderMoney>0</FinishedOrderMoney>
  <RegisterDistributorsPoints>0</RegisterDistributorsPoints>
  <OrdersPoints>0</OrdersPoints>
  <SiteFlag>ls</SiteFlag>
  <DefaultProductId>51</DefaultProductId>
  <DefaultPartnerGradeId>3</DefaultPartnerGradeId>
  <DefaultTutorGradeId>2</DefaultTutorGradeId>
  <DefaultStoreGradeId>1</DefaultStoreGradeId>
  <DefaultMinInvitationNum>5</DefaultMinInvitationNum>
  <DefaultMaxInvitationNum>100000</DefaultMaxInvitationNum>
  <DefaultLoginSmsContent>您的验证码：{Code1}，请勿将验证码泄漏给其他人。</DefaultLoginSmsContent>
  <DistributorRegSmsContent>恭喜您成功邀请到$UserNameMobile$加入全婴汇大家庭，$CommissionMoney$元佣金已经发放到您的账户，快带小伙伴开启全婴汇创业之旅吧~</DistributorRegSmsContent>
  <VirtualPointExchangeRate>50</VirtualPointExchangeRate>
  <DefaultVirtualPoint>1500</DefaultVirtualPoint>
  <VirtualPointName>金贝</VirtualPointName>
  <ServicePhone>400</ServicePhone>
  <DefaultCompanyRecommendedIncome>50</DefaultCompanyRecommendedIncome>
  <DefaultCompanyIncomeSeven>70</DefaultCompanyIncomeSeven>
  <DefaultCompanyIncomeEight>80</DefaultCompanyIncomeEight>
  <MainSiteGoodCounts>100</MainSiteGoodCounts>
  <StoreUrl>http://www.lelch.com.cn/index.php?ac=article&amp;amp;at=list&amp;amp;tid=23</StoreUrl>
  <WXDebug>false</WXDebug>
  <RecruitCnt>0</RecruitCnt>
  <RecruitCntPoint>0</RecruitCntPoint>
  <IsProcessCommissions>true</IsProcessCommissions>
  <TempStorePoint>200</TempStorePoint>
  <TempStoreSaleAmount>500</TempStoreSaleAmount>
</Settings>